.zero{
    opacity: 0%;
    margin: 30px;
    transition: none;

}
.one{background-color:#f4fff0           ; transition: none; z-index:1 }
.two{background-color: #70ff6d          ; transition: none; z-index:1 }
.three{background-color:#e6ff8d         ; transition: none; z-index:1 }
.four{background-color:#7fffe6          ; transition: none; z-index:1 }
.five{background-color:#ff9f8b          ; transition: none; z-index:1 }
.six{background-color:#ff4f3d           ; transition: none; z-index:1 }
.seven{background-color:#ff1405         ; transition: none; z-index:1 }
.eight{background-color:#7e80ff         ; transition: none; z-index:1 }
.nine{background-color:#364cff          ; transition: none; z-index:1 }
.ten{background-color:#0518ff           ; transition: none; z-index:1 }
.eleven{background-color:#a0f8ff        ; transition: none; z-index:1 }
.twelve{background-color:#54fdff        ; transition: none; z-index:1 }
.thirteen{background-color:#09fffd      ; transition: none; z-index:1 }
.fourteen{background-color:#7cff7b      ; transition: none; z-index:1 }
.fifteen{background-color: #36ff25      ; transition: none; z-index:1 }
.sixteen{background-color: white        ; transition: none; z-index:1 }

.slideAndDissolution{
    transform: translate(125px);
    opacity: 0%;
    transition: none;
    z-index: -1;

}
.slide0{
    z-index: 0;
    transition: none;

}
.slide{
    transform: translate(125px);
    z-index: 0;
    transition: transform 0.2s;

}

.slide2{
    transform: translate(250px);
    z-index: 0;
    transition: transform 0.2s;

}
.slide3{
    transform: translate(375px);
    z-index: 0;
    transition: transform 0.2s;

}
.mini{
    margin: -14px;
    transition: all 0.2s;

}
.appearance{
    margin: 10px;
    transition: all 0.2s;

}
.unSlide{
    transform: translate(0px);
    transition: none;
}


/*from LEFT METHOD*/
.slide6{
    transform: translate(-125px);
    z-index: 0;
    transition: transform 0.2s;
}
.slide7{
    transform: translate(-250px);
    z-index: 0;
    transition: transform 0.2s;
}
.slide8{
    transform: translate(-375px);
    z-index: 0;
    transition: transform 0.2s;
}
/*FROM UP METHOD*/
.slide10{
    transform: translateY(-125px);
    z-index: 0;
    transition: transform 0.2s;
}
.slide11{
    transform: translateY(-250px);
    z-index: 0;
    transition: transform 0.2s;
}
.slide12{
    transform: translateY(-375px);
    z-index: 0;
    transition: transform 0.2s;
}
/*FROM DOWN METHOD*/
.slide14{
    transform: translateY(125px);
    z-index: 0;
    transition: transform 0.2s;
}
.slide15{
    transform: translateY(250px);
    z-index: 0;
    transition: transform 0.2s;
}
.slide16{
    transform: translateY(375px);
    z-index: 0;
    transition: transform 0.2s;
}