.root {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: "h h h"
                            "b1 d b2"
                             " f f f";
    height:   100vmin;
    width: 100vmin;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 15% 70% 15%;
}
.header{
    /*background: red;*/
    grid-area: h;
}
.body1{
    grid-area: b1;
    /*background: yellow;*/
}.body2{
     grid-area: b2;
     /*background: yellow;*/
 }
.data{
    grid-area:  d;
    background: red;
}
.footer{
    grid-area: f;
    /*background: hotpink;*/
}
.red{
    background: red;
}