.b {
    margin-top: 20px;
    grid-area: b;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    display: grid;
    grid-template-areas: 'head' 'bodyField' 'leg' 'winner';
}

.head {
    margin-left: auto;
    margin-right: auto;
    grid-area: head;
    background-color: pink;
    display: grid;
    grid-template-areas: 'button score bestScore';
}

.bodyField {
    margin-left: auto;
    margin-right: auto;
    grid-area: bodyField;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background: url('../images/fon.jpg');
}

.bodyField2 {
    transition: all 1s;
    opacity: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #a19e9e;
    z-index: 5555;
    grid-area: bodyField;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);

}

.footer {
    grid-area: leg;
    opacity: 0%;
}

.footer2 {
    transition: all 0.5s;
    transform: translateY(-300px);
    text-align: center;
    font-size: 500%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    background-color: red;
    grid-area: leg;
    z-index: 2000;
    opacity: 70%;
}

.rowStyle {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cellStyle {
    border: 3px solid #a19e9e;
    border-radius: 10px;
    display: flex;
    font-weight: bold;
    margin: 2px;
    font-size: 200%
}

.p {
    margin: auto;
}
.button{
    margin: 10px;
    padding: 20px;
    position: relative;
    grid-area: button;
    left: 45%;
    color: #663a0a;
    font-weight: bolder;
    font-size: 100% ;
    transform: translate(-50%,0);
}
/*this is winner banner*/
.winner {
    grid-area: winner;
    opacity: 0%;
}

.winner2 {
    transition: all 0.5s;
    transform: translateY(-325px);
    text-align: center;
    font-size: 500%;
    font-weight: bold;
    background-color: red;
    grid-area: winner;
    z-index: 2000;
    opacity: 70%;
}

.input {
    margin: 20px;
    padding: 10px;
    width: 80px;
    grid-area: score;
    font-size: 180% ;
}
.bb{
    padding: 10px;
    margin: 20px;
    font-size: 100% ;
}