.b {
    margin-top: 20px;
    grid-area: b;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    display: grid;
    grid-template-areas: 'head' 'bodyField' 'leg';
}

.head {
    grid-area: head;
    max-width: 500px;
    height: 100px;
    background-color: pink;
}

.bodyField {
    grid-area: bodyField;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background: url('../images/fon.jpg');
}

.bodyField2 {
    transition: all 1s;
    opacity: 100%;
    background: #a19e9e;
    z-index: 5555;
    grid-area: bodyField;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);

}

.footer {
    grid-area: leg;
    opacity: 0%;
}

.footer2 {
    transition: all 0.5s;
    transform: translateY(-300px);
    text-align: center;
    font-size: 500%;
    font-weight: bold;
    background-color: red;
    grid-area: leg;
    z-index: 2000;
    opacity: 70%;
}

.rowStyle {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cellStyle {
    border: 3px solid #a19e9e;
    border-radius: 10px;
    display: flex;
    font-weight: bold;
    margin: 2px;
    font-size: 200%
}

.p {
    margin: auto;
}
.button{
    margin: 10px;
    padding: 20px;
    position: relative;
    color: #663a0a;
    left: 50%;
    font-weight: bolder;
    font-size: 200% ;
    transform: translate(-50%,0);
}
